<nz-layout class="layout">
  <nz-sider>
    <div class="logo text-center">
      <img src="../../../assets/logo.png" alt="logo" srcset="" width="60" height="50">
    </div>
    <ul class="gradient-ohhappiness" nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <ng-container *ngIf="userInfo.role == 'USER'">
        <li nz-menu-item>
          <span nz-icon nzType="ordered-list" nzTheme="outline"></span>
          <span><a routerLink="/userPlateform/time-line">Time line</a> </span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="database" nzTheme="outline"></span>
          <span><a routerLink="/userPlateform/assignments">Travaux disponibles</a></span>
        </li>
        <li nz-menu-item>
          <span nz-icon [nzType]="'sync'" [nzSpin]="true"></span>
          <span><a routerLink="/userPlateform/assignmentsInProgress"></a> Travaux en cours</span>
        </li>
        <li nz-menu-item>
          <span nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></span>
          <span><a routerLink="/userPlateform/successAssignments">Travaux accomplis</a></span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="close-circle" nzTheme="outline"></span>
          <span><a routerLink="/userPlateform/assignmentsLeave"></a> Travaux abandonnée</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="pie-chart" nzTheme="outline"></span>
          <span><a routerLink="/userPlateform/stats">Mes statistiques</a> </span>
        </li>
      </ng-container>
      <ng-container *ngIf="userInfo.role == 'SOCIETY'">
        <li nz-menu-item>
          <span nz-icon nzType="dashboard" nzTheme="outline"></span>
          <span> <a routerLink="/userPlateform/dashboard">Dashboard</a> </span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="database" nzTheme="outline"></span>
          <span> <a routerLink="/userPlateform/work-management">Gestion des Travaux</a> </span>
        </li>
      </ng-container>
      <ng-container *ngIf="userInfo.role == 'ADMIN'">
        <li nz-menu-item>
          <span nz-icon="user" nzType="file"></span>
          <span> <a routerLink="/userPlateform/processing-society-management">Gestion des societés</a> </span>
        </li>
        <li nz-menu-item>
          <span nz-icon="user" nzType="file"></span>
          <span><a routerLink="/userPlateform/point-of-drop-management">Gestion des dépôts</a></span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="bar-chart"></span>
          <span><a routerLink="/userPlateform/locality-management">Gestion des localités</a></span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="upload"></span>
          <span><a routerLink="/userPlateform/ranks-management">Gestion des grades</a></span>
        </li>
      </ng-container>

    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>
      <div class="header-container">
        <div class="row">
          <div class="col-md-9">
            <!-- <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              (click)="isCollapsed = !isCollapsed"></span> -->
          </div>
          <div class="col-md-2">
            <nz-avatar nzIcon="user" nzSrc="https://avatars.githubusercontent.com/u/121268728?v=4"></nz-avatar>
            Ezekiel Kouassi
          </div>
          <div class="col-md-1">
            <button class="m-1" nz-button nzType="text" nzDanger [nzSize]="size" nzShape="circle">
              <a routerLink="/login"><span nz-icon nzType="logout" nzTheme="outline"></span></a>
            </button>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Clean-ma-ci ©2022 Implement By a student of Atos digital Academy</nz-footer>
  </nz-layout>
</nz-layout>