.logo {
  height: 32px;
  background: #f96868!important;
  margin: 16px;
}

.layout {
  min-height: 100vh;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
}

/* styles below is form manage side bar item state : the color */

.ant-menu-item  :hover {
  color: #f96868!important;
}

.ant-menu-item-selected {
  background-color: #f96868!important;
  color: #ffffff!important;
}
.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
  color: #ffffff!important;
}

/* end */

.right-layout {
  margin-left: 200px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 24px 16px 0;
  overflow: initial;
}

.inner-content {
  padding: 24px;
  background: #fff;
  text-align: center;
}

nz-footer {
  text-align: center;
}