<nz-layout class="layout">
  <nz-sider nzTheme="light">
    <div class="logo"></div>
    <ul class="gradient-ohhappiness" nz-menu nzMode="inline">
      <li *ngIf="userInfo.role == 'USER'" nz-menu-item>
        <span nz-icon="user" nzType="file"></span>
        <span> <a routerLink="/userPlateform/time-line">Time line</a> </span>
      </li>
      <li *ngIf="userInfo.role == 'USER'" nz-menu-item>
        <span nz-icon="user" nzType="file"></span>
        <span><a routerLink="/userPlateform/assignments">Travaux disponibles</a></span>
      </li>
      <li *ngIf="userInfo.role == 'USER' " nz-menu-item>
        <span nz-icon nzType="bar-chart"></span>
        <span><a routerLink="/userPlateform/assignmentsInProgress"></a> Travaux en cours</span>
      </li>
      <li *ngIf="userInfo.role == 'USER'" nz-menu-item>
        <span nz-icon nzType="video-camera"></span>
        <span>Travaux accomplis</span>
      </li>
      <li *ngIf="userInfo.role == 'USER'" nz-menu-item>
        <span nz-icon nzType="upload"></span>
        <span><a routerLink="/userPlateform/assignmentsLeave"></a> Travaux abandonnée</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>
      <div class="header-container">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <nz-avatar nzIcon="user" nzSrc="https://avatars.githubusercontent.com/u/121268728?v=4"></nz-avatar>
            Ezekiel Kouassi
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Clean-ma-ci ©2022 Implement By a student of Atos digital Academy</nz-footer>
  </nz-layout>
</nz-layout>