<h1>Gestion des sociétés de traitement</h1>
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <button nz-button nzType="default" nzDanger (click)="openModal()">
            <span nz-icon nzType="user-add" nzTheme="outline">Ajouter une société</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-table [header]="['name', 'email', 'phone', 'username', 'action']" [datas]="data" type="processing-company-list"></app-table>
    </div>
</div>