<div id="wrapper">

    <div class="card-authentication mx-auto my-3">
        <div class="card-group">
            <div class="card mb-0">
                <div class="bg-signup"></div>
                <div class="card-img-overlay rounded-left my-5">
                    <h2 class="text-white">Bienvenue</h2>
                    <h1 class="text-white">Clean ma ci</h1>
                    <p class="card-text text-white pt-3">Clean ma ci est une plateforme qui vous permet de gagner de
                        l'argent
                        tout en participant à la protection de l'environnement de la côte d'ivoire.</p>
                </div>
            </div>

            <div class="card mb-0">
                <div class="card-body">
                    <div class="card-content p-3">
                        <div class="card-title text-uppercase text-center py-3">Inscription</div>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form-group mb-3">
                                <div class="position-relative has-icon-left">
                                    <label for="lastname" class="sr-only">Nom</label>
                                    <input type="text" id="lastname" class="form-control" placeholder="Nom" formControlName="lastName">
                                    <div class="form-control-position">
                                        <i aria-hidden="true" class="fa fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="position-relative has-icon-left">
                                    <label for="firstname" class="sr-only">Prenoms</label>
                                    <input type="text" id="firstname" class="form-control" placeholder="Prenoms" formControlName="firstName">
                                    <div class="form-control-position">
                                        <i aria-hidden="true" class="fa fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="position-relative has-icon-left">
                                    <label for="identifier" class="sr-only">Identifiant</label>
                                    <input type="text" id="identifier" class="form-control"
                                        placeholder="Identifiant" formControlName="identifier">
                                    <div class="form-control-position">
                                        <i aria-hidden="true" class="fa fa-hashtag"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="position-relative has-icon-left">
                                    <label for="email" class="sr-only">email</label>
                                    <input type="text" id="email" class="form-control" placeholder="Email" formControlName="email">
                                    <div class="form-control-position">
                                        <i aria-hidden="true" class="fa fa-envelope"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="position-relative has-icon-left">
                                    <label for="password" class="sr-only">password</label>
                                    <input type="password" id="password" class="form-control"
                                        placeholder="password" formControlName="password">
                                    <div class="form-control-position">
                                        <i aria-hidden="true" class="fa fa-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="position-relative has-icon-left">
                                    <label for="confirmpassword" class="sr-only">Confirmez</label>
                                    <input type="password" id="confirmpassword" class="form-control"
                                        placeholder="confirmation du mot de passe" formControlName="confirmPassword">
                                    <div class="form-control-position">
                                        <i aria-hidden="true" class="fa fa-lock"></i>
                                    </div>
                                    <!-- <div *ngIf="registerForm.get('confirmPassword')?.hasError('passwordsMismatch') && registerForm.get('confirmPassword')?.touched">
                                        Les mots de passe ne correspondent pas.
                                    </div> -->
                                      
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="icheck-material-primary">
                                    <input type="checkbox" id="user-checkbox" checked="" />
                                    <label for="user-checkbox">J'accepte les conditions</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit"
                                        class="btn gradient-dusk btn-block waves-effect waves-light text-white col-12">Inscription</button>
                                </div>
                            </div>

                            <div class="text-center pt-3">
                                <hr>
                                <p class="text-dark">Avez vous déjà un compte? <a routerLink="/login">
                                        Connectez-vous</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!--wrapper-->