<h1>Liste des travaux disponible</h1>
<table datatable [dtOptions]="dtOptions" class="table table-bordered datatable row-border hover">
  <thead>
    <tr>
      <th hidden>ID</th>
      <th>Titre</th>
      <th>Description</th>
      <th>nombre de personnes requis</th>
      <th>Personnes ayant adhéré</th>
      <th>Recompense</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assignment of assignments">
      <th hidden>{{ assignment.id }}</th>
      <td>{{ assignment.title }}</td>
      <td>{{ assignment.description }}</td>
      <td>{{ assignment.numberOfAdherent }}</td>
      <td>{{ assignment.numberOfAcceptation }}</td>
      <td>{{ assignment.reward }} XOF</td>
      <td><button nz-button nzType="dashed" nzDanger> <span nz-icon nzType="check-circle" nzTheme="outline"></span> Accepter</button></td>
    </tr>
  </tbody>
</table>