<div class="media">
    <span class="avatar status-success">
        <img src="../assets/img/avatar/1.jpg" alt="...">
    </span>
    <div class="media-body">
        <p><strong>Maryam Amiri</strong> <time class="float-right" datetime="2018-07-14 20:00">24 min ago</time></p>
        <p>You need to update the changelog in documentation before we release the current version.</p>
        <div class="btn-spacer mt-1">
            <a class="btn btn-xs btn-w-xs btn-outline btn-success" href="#">Approve</a>
            <a class="btn btn-xs btn-w-xs btn-outline btn-danger" href="#">Delete</a>
        </div>
    </div>
</div>