.gradient-meridian {
    background: #283c86;
    background: -webkit-linear-gradient(45deg, #283c86, #45a247)!important;
    background: linear-gradient(45deg, #283c86, #45a247)!important;
}

.gradient-forest {
    background: #000428;
    background: -webkit-linear-gradient(45deg, #000428, #004e92)!important;
    background: linear-gradient(45deg, #000428, #004e92)!important;
}

.gradient-dusk {
    background: #2c3e50;
    background: -webkit-linear-gradient(45deg, #2c3e50, #fd746c)!important;
    background: linear-gradient(45deg, #2c3e50, #fd746c)!important;
}

.gradient-orange {
    background: #fc4a1a;
    background: -webkit-linear-gradient(45deg, #fc4a1a, #f7b733)!important;
    background: linear-gradient(45deg, #fc4a1a, #f7b733)!important;
}