.gradient-meridian {
    background: #283c86;
    background: -webkit-linear-gradient(45deg, #283c86, #45a247)!important;
    background: linear-gradient(45deg, #283c86, #45a247)!important;
}

.gradient-forest {
    background: #000428;
    background: -webkit-linear-gradient(45deg, #000428, #004e92)!important;
    background: linear-gradient(45deg, #000428, #004e92)!important;
}

.gradient-dusk {
    background: #2c3e50;
    background: -webkit-linear-gradient(45deg, #2c3e50, #fd746c)!important;
    background: linear-gradient(45deg, #2c3e50, #fd746c)!important;
}

.gradient-orange {
    background: #fc4a1a;
    background: -webkit-linear-gradient(45deg, #fc4a1a, #f7b733)!important;
    background: linear-gradient(45deg, #fc4a1a, #f7b733)!important;
}

.gradient-shifter {
  background: #bc4e9c;
  background: -webkit-linear-gradient(45deg, #bc4e9c, #f80759)!important;
  background: linear-gradient(45deg, #bc4e9c, #f80759)!important;
}

.gradient-deepblue {
  background: #6a11cb;
  background: -webkit-linear-gradient(45deg, #6a11cb, #2575fc)!important;
  background: linear-gradient(45deg, #6a11cb , #2575fc)!important;
}

.gradient-quepal {
  background: #11998e;
  background: -webkit-linear-gradient(45deg, #11998e, #38ef7d)!important;
  background: linear-gradient(45deg, #11998e, #38ef7d)!important;
}

thead {
    background-color: #f96868;
    color: #fff;
  }
  
  /* Style pour la table */
  table.dataTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Style pour les en-têtes de colonne */
  table.dataTable th {
    background-color: #f96868;
    font-weight: bold;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  /* Style pour les cellules de la table */
  table.dataTable td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  /* Style pour les lignes de la table */
  table.dataTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .custom-datatable {
    border: 1px solid #ccc;
  }