
    <nz-timeline nzMode="alternate">
      <nz-timeline-item>Bienvenue sur la plateforme clean-ma-ci🥳</nz-timeline-item>
      <nz-timeline-item nzColor="green">
        Maintenant vous avez la capacité de participer au nettoyage de la côte d'ivoire.
        Suivez cette time line afin d'être aguérrir dans la manipulation de la plateforme, et d'être un citoyen exemplaire.
      </nz-timeline-item>
      <nz-timeline-item nzColor="red">
        Clean-ma-ci est une plateforme ivoirienne, qui vous permet de participer à la salubrité du pays tout en gagnant
        des recompenses.
      </nz-timeline-item>
      <nz-timeline-item nzColor="red">Les recompenses se gagnent en accomplissant des tâches de type écologique.</nz-timeline-item>
      <nz-timeline-item>Une tâches peut nécessiter une ou plusieus personnes pour l'accomplir, dans ce cas la recompense sera partagée.</nz-timeline-item>
      <nz-timeline-item nzColor="red">
        Vous pouvez effectué autant de mission que possible, si vous atteigné un certains seuil, votre grade se vera
        changer🎓.
      </nz-timeline-item>
      <nz-timeline-item nzColor="green">
        et oui, il y a des grades sur la sur clean-ma-ci 🎓👨🏻‍🎓, vous pouvez les débloquer en fonction de vôtre capacité à
        accomplir les tâches écologique😁🌳🌳.
      </nz-timeline-item>
      <nz-timeline-item nzColor="blue">
        Une dernière information très importante😁, vous devez apporté les preuves que vous avez accompli la tâche dans un centre
        dédié à clean-ma-ci avant de recevoir vôtre recompense.
      </nz-timeline-item>
      <nz-timeline-item nzColor="red">
        Super🥳🥳🥳, nous voilà la fin de ce guide, nous vous souhaitons une merveilleuse aventure avec nous clean-ma-ci,
        vôtre aventure pour devenir un vétérand de la salubrité ivoirienne commmence maintenant🥳😁🌳🌳
      </nz-timeline-item>
    </nz-timeline>
    <ng-template #dotTemplate>
      <span nz-icon nzType="clock-circle-o" style="font-size: 16px;"></span>
    </ng-template>
  