<!-- <div class="table-responsive-md">
    <table id="table" class="table table-bordered">
        <thead>
            <tr>
                <th *ngFor="let h of header">{{ h }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of datas | paginate: {itemsPerPage: 5, currentPage: p}">
                <ng-container *ngIf="type == 'available-work'">
                    <td>{{ data.assignmentTitle}}</td>
                    <td>{{ data.assignmentDescription}}</td>
                    <td>{{ data.numberOfAdherent}}</td>
                    <td>{{ data.numberOfAcceptation}}</td>
                    <td>{{ data.reward}}</td>
                    <td>
                        <button nz-button nzType="dashed" nzDanger (click)="accept(data)"> <span nz-icon
                                nzType="check-circle" nzTheme="outline"></span> Accepter</button>
                    </td>
                </ng-container>
                <ng-container *ngIf="type == 'in-progress-work'">
                    <td>{{ data.assignmentTitle }}</td>
                    <td>{{ data.assignmentDescription }}</td>
                    <td><app-badge title="en cours"></app-badge></td>
                    <td>
                        <button nz-button nzType="dashed" nzDanger (click)="leave(data)"> <span nz-icon
                                nzType="check-circle" nzTheme="outline"></span> Abondonné</button>
                    </td>
                </ng-container>
                <ng-container *ngIf="type == 'leave-work'">
                    <td>{{ data.assignmentTitle }}</td>
                    <td>{{ data.assignmentDescription }}</td>
                    <td><app-badge title="abandonné"></app-badge></td>
                </ng-container>
                <ng-container *ngIf="type == 'processing-company-list'">
                    <td>{{ data.name }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.phone }}</td>
                    <td>{{ data.username }}</td>
                    <td>
                        <button class="m-1" nz-button nzType="primary" nzDanger [nzSize]="size" nzShape="circle"><span
                                nz-icon nzType="plus" nzTheme="outline"></span></button>
                        <button class="m-1" nz-button nzType="primary" [nzSize]="size" nzShape="circle"><span nz-icon
                                nzType="delete" nzTheme="outline"></span></button>
                    </td>
                </ng-container>
                <ng-container *ngIf="type == 'locality-list'">
                    <td>{{data.name}}</td>
                    <td>
                        <button class="m-1" nz-button nzType="primary" nzDanger [nzSize]="size" nzShape="circle"><span
                                nz-icon nzType="plus" nzTheme="outline"></span></button>
                        <button class="m-1" nz-button nzType="primary" [nzSize]="size" nzShape="circle"><span nz-icon
                                nzType="delete" nzTheme="outline"></span></button>
                    </td>
                </ng-container>
                <ng-container *ngIf="type == 'point-of-drop-list'">
                    <td>{{data.name}}</td>
                    <td>{{data.locality}}</td>
                    <td>
                        <button class="m-1" nz-button nzType="primary" nzDanger [nzSize]="size" nzShape="circle"><span
                                nz-icon nzType="plus" nzTheme="outline"></span></button>
                        <button class="m-1" nz-button nzType="primary" [nzSize]="size" nzShape="circle"><span nz-icon
                                nzType="delete" nzTheme="outline"></span></button>
                    </td>
                </ng-container>
                <ng-container *ngIf="type == 'society-assignment-list'">
                    <td>{{ data.title }}</td>
                    <td>{{ data.description }}</td>
                    <td>{{ data.numberOfAdherent }}</td>
                    <td>{{ data.numberOfAcceptation }}</td>
                    <td>{{ data.pointOfDrop}}</td>
                    <td>{{ data.reward }}</td>
                    <td>{{ data.duration }}</td>
                    <td>
                        <button class="m-1" nz-button nzType="primary" nzDanger [nzSize]="size" nzShape="circle"><span
                                nz-icon nzType="plus" nzTheme="outline"></span></button>
                        <button class="m-1" nz-button nzType="primary" [nzSize]="size" nzShape="circle"><span nz-icon
                                nzType="delete" nzTheme="outline"></span></button>
                    </td>
                </ng-container>
            </tr>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </tbody>
    </table>
</div> -->

<nz-table #sortTable [nzData]="datas" nzTableLayout="fixed" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex">
    <thead>
        <tr>
            <th *ngFor="let column of header">
                {{ column }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <ng-container *ngIf="type == 'available-work'">
                <td>{{ data.assignmentTitle}}</td>
                <td>{{ data.assignmentDescription}}</td>
                <td>{{ data.numberOfAdherent}}</td>
                <td>{{ data.numberOfAcceptation}}</td>
                <td>{{ data.reward}}</td>
                <td>
                    <button nz-button nzType="dashed" nzDanger (click)="accept(data)"> <span nz-icon
                            nzType="check-circle" nzTheme="outline"></span> Accepter</button>
                </td>
            </ng-container>
            <ng-container *ngIf="type == 'in-progress-work'">
                <td>{{ data.assignmentTitle }}</td>
                <td>{{ data.assignmentDescription }}</td>
                <td><app-badge title="en cours"></app-badge></td>
                <td>
                    <button nz-button nzType="dashed" nzDanger (click)="leave(data)"> <span nz-icon
                            nzType="check-circle" nzTheme="outline"></span> Abondonner</button>
                </td>
            </ng-container>
            <ng-container *ngIf="type == 'leave-work'">
                <td>{{ data.assignmentTitle }}</td>
                <td>{{ data.assignmentDescription }}</td>
                <td><app-badge title="abandonné"></app-badge></td>
            </ng-container>
            <ng-container *ngIf="type == 'processing-company-list'">
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.username }}</td>
                <td>
                    <button class="m-1" nz-button nzType="primary" nzDanger [nzSize]="size" nzShape="circle"><span
                            nz-icon nzType="plus" nzTheme="outline"></span></button>
                    <button class="m-1" nz-button nzType="primary" [nzSize]="size" nzShape="circle"><span nz-icon
                            nzType="delete" nzTheme="outline"></span></button>
                </td>
            </ng-container>
            <ng-container *ngIf="type == 'locality-list'">
                <td>{{data.name}}</td>
                <td>
                    <button class="m-1" nz-button nzType="primary" nzDanger [nzSize]="size" nzShape="circle"><span
                            nz-icon nzType="plus" nzTheme="outline"></span></button>
                    <button class="m-1" nz-button nzType="primary" [nzSize]="size" nzShape="circle"><span nz-icon
                            nzType="delete" nzTheme="outline"></span></button>
                </td>
            </ng-container>
            <ng-container *ngIf="type == 'point-of-drop-list'">
                <td>{{data.name}}</td>
                <td>{{data.locality}}</td>
                <td>
                    <button class="m-1" nz-button nzType="primary" nzDanger [nzSize]="size" nzShape="circle"><span
                            nz-icon nzType="plus" nzTheme="outline"></span></button>
                    <button class="m-1" nz-button nzType="primary" [nzSize]="size" nzShape="circle"><span nz-icon
                            nzType="delete" nzTheme="outline"></span></button>
                </td>
            </ng-container>
            <ng-container *ngIf="type == 'society-assignment-list'">
                <td>{{ data.title }}</td>
                <td>{{ data.description }}</td>
                <td>{{ data.numberOfAdherent }}</td>
                <td>{{ data.numberOfAcceptation }}</td>
                <td>{{ data.pointOfDrop}}</td>
                <td>{{ data.reward }}</td>
                <td>{{ data.duration }}</td>
                <td>
                    <button class="m-1" nz-button nzType="primary" nzDanger [nzSize]="size" nzShape="circle"><span
                            nz-icon nzType="check" nzTheme="outline" (click)="validateAssignment(data.id)"></span></button>
                    <button class="m-1" nz-button nzType="primary" [nzSize]="size" nzShape="circle"><span nz-icon
                            nzType="delete" nzTheme="outline"></span></button>

                </td>
            </ng-container>
        </tr>
    </tbody>
</nz-table>